.edit-board {
  &__wrapper {
    display: flex;
    margin-bottom: 12px;
  }

  &__content {
    max-height: 158px;
    overflow: auto;
    scrollbar-color: #d4aa70 #e4e4e4;
    transition: scrollbar-color 0.3s ease-out;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #fff;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #635fc7;
      border-radius: 10px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: var(--ColorText);
    margin: 0 0 24px 0;
  }
  &__sub-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #828fa3;
    margin: 0 0 8px 0;
  }

  &__item {
    margin-bottom: 24px;
  }
}

.save {
  display: block;
  height: 40px;
  width: 100%;
  background: #635fc7;
  border-radius: 20px;
  border: 0;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.1;
  }
}

.new-column {
  display: block;
  height: 40px;
  width: 100%;
  background: rgba(99, 95, 199, 0.1);
  border-radius: 20px;
  border: 0;
  font-weight: 700;
  font-size: 13px;
  color: #635fc7;
  margin-bottom: 24px;
}
