* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow: auto;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
